@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Insanibc" ;
    src: url('./assets/fonts/Insanibc.ttf');
}
@font-face {
    font-family: "Asimov" ;
    src: url('./assets/fonts/Asimov.otf');
}

*{
    font-family: Asimov;
    text-align: center;
    color: white;

}

.base{
    background-image: url('./assets/img/background.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

h1, h2, h3{
    font-family: Insanibc;
    color: white;
}